{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "ANYTIME EAT",
        "description": "Documentation automatically generated by the <b>swagger-autogen</b> module."
    },
    "host": "ec2-3-235-4-51.compute-1.amazonaws.com/api",
    "basePath": "/",
    "tags": [],
    "schemes": [
        "http",
        "https"
    ],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },

    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/currency/all": {
            "get": {
                "tags": [
                    "Currency"
                ],

                "description": "Get all the Currency details",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Currency details fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/Currency"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/currency": {
            "post": {
                "tags": [
                    "Currency"
                ],

                "description": "Createe New Currency details",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "User information.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/Currency"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Currency details added successfully.",
                        "schema": {
                            "$ref": "#/definitions/Currency"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/currency/{id}": {
            "patch": {
                "tags": [
                    "Currency"
                ],

                "description": "Update Currency details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "User information.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Currency"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Currency details updated successfully.",
                        "schema": {
                            "$ref": "#/definitions/Currency"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },


        "/settings/get/{id}": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "description": "Endpoint to get a specific settings.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Settings has been retrieved successfully.",
                        "schema": {
                            "$ref": "#/definitions/Settings"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },

       

        "/settings/site/{id}": {
            "patch": {
                "tags": [
                    "Settings"
                ],
                "description": "Update Site Settings",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Site Settings.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/SiteSetings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/settings/payment/{id}": {
            "patch": {
                "tags": [
                    "Settings"
                ],
                "description": "Update Payment Settings",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Payment Settings.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/PaymentSetings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },

        "/settings/productorder/{id}": {
            "patch": {
                "tags": [
                    "Settings"
                ],
                "description": "Update Product Order Settings",

                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Product Order Settings.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ProductOrderSettings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/settings/app/{id}": {
            "patch": {
                "tags": [
                    "Settings"
                ],
                "description": "Update APP Settings",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update APP Settings.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/AppSetings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },

        "/settings/images/{id}": {
            "patch": {
                "tags": [
                    "Settings"
                ],
                "description": "Update Logo / Favicon images",

                "consumes": ["multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "files",
                        "type": "array",
                        "required": true,
                        "description": "Upload Logo / Favicon images",
                        "collectionFormat": "multi",
                        "items": { "type": "file" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },

        "/settings/social/{id}": {
            "patch": {
                "tags": [
                    "Settings"
                ],
                "description": "Update Social Settings",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Socail Settings.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/SocialSettings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/settings/": {
            "post": {
                "tags": [
                    "Settings"
                ],
                "description": "Add Social Settings",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Add  Settings.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/AddSettings"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Added"
                    }
                }
            }
        },

        "/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],

                "description": "Get all the Settings.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Settings fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/Settings"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },

        "/notice": {
            "get": {
                "tags": [
                    "Notice Board"
                ],

                "description": "Get all the Notice Board.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notice Board fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/NoticeBoard"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/notice/get/{id}": {
            "get": {
                "tags": [
                    "Notice Board"
                ],
                "description": "Endpoint to get a specific Notice Board.",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Notice Board has been retrieved successfully.",
                        "schema": {
                            "$ref": "#/definitions/NoticeBoard"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/notice/": {
            "post": {
                "tags": [
                    "Notice Board"
                ],
                "description": "Create Notice Board",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Notice Board details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/NoticeBoard"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/notice/{id}": {
            "patch": {
                "tags": [
                    "Notice Board"
                ],
                "description": "Update Particular Notice Board Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Notice Board Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/NoticeBoard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/notice/{id}/": {
            "delete": {
                "tags": [
                    "Notice Board"
                ],
                "description": "Remove Particular Notice Board Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/notice/push-notification/": {
            "post": {
                "tags": [
                    "Notice Board"
                ],
                "description": "Create Notice Board Push Notification",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Notice Board Push Notification details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/NoticeBoardPushNotification"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/notice/push-notification/list": {
            "get": {
                "tags": [
                    "Notice Board"
                ],

                "description": "Get all the Notice Board Push Notification Details.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notice Board Push Notification fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/NoticeBoardPushNotification"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/promocodes": {
            "get": {
                "tags": [
                    "Promocodes"
                ],

                "description": "Get all the Promocodes.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Promocodes fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/Promocodes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/promocodes/": {
            "post": {
                "tags": [
                    "Promocodes"
                ],
                "description": "Create Promocodes",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Promocodes details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/Promocodes"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/promocodes/{id}": {
            "patch": {
                "tags": [
                    "Promocodes"
                ],
                "description": "Update Particular Promocodes Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Promocodes Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Promocodes"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/promocodes/{id}/": {
            "delete": {
                "tags": [
                    "Promocodes"
                ],
                "description": "Remove Particular Promocodes Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/delivery-people/list": {
            "get": {
                "tags": [
                    "DeliveryPeople"
                ],

                "description": "Get all the Delivery People List.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Delivery People fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/DeliveryPeople"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/delivery-people": {
            "get": {
                "tags": [
                    "DeliveryPeople"
                ],

                "description": "Get all the Delivery People List.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delivery People fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/DeliveryPeople"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/delivery-people/": {
            "post": {
                "tags": [
                    "DeliveryPeople"
                ],
                "description": "Create Delivery People",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Delivery People details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/DeliveryPeople"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/delivery-people/{id}": {
            "patch": {
                "tags": [
                    "DeliveryPeople"
                ],
                "description": "Update Particular Delivery People Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Promocodes Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/DeliveryPeople"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/delivery-people/{id}/": {
            "delete": {
                "tags": [
                    "DeliveryPeople"
                ],
                "description": "Remove Particular Delivery People Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/dispute-manager": {
            "get": {
                "tags": [
                    "DisputeManager"
                ],

                "description": "Get all the Dispute Manager List.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dispute Manager fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/DisputeManager"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/dispute-manager/": {
            "post": {
                "tags": [
                    "DisputeManager"
                ],
                "description": "Create Dispute Manager",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Dispute Manager details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/DisputeManager"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/dispute-manager/{id}": {
            "patch": {
                "tags": [
                    "DisputeManager"
                ],
                "description": "Update Particular Dispute Manager Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Dispute Manager Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/DisputeManager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/dispute-manager/{id}/": {
            "delete": {
                "tags": [
                    "DisputeManager"
                ],
                "description": "Remove Particular Dispute Manager Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/cuisines": {
            "get": {
                "tags": [
                    "Cuisines"
                ],

                "description": "Get all the Cuisines List.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cuisines fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/Cuisines"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cuisines/": {
            "post": {
                "tags": [
                    "Cuisines"
                ],
                "description": "Create Cuisines",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Cuisines details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/Cuisines"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/cuisines/{id}": {
            "patch": {
                "tags": [
                    "Cuisines"
                ],
                "description": "Update Particular Cuisines Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Cuisines  Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Cuisines"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/cuisines/{id}/": {
            "delete": {
                "tags": [
                    "Cuisines"
                ],
                "description": "Remove Particular Cuisines Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/cuisines/images/{id}": {
            "patch": {
                "tags": [
                    "Cuisines"
                ],
                "description": "Update  images",

                "consumes": ["multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "files",
                        "type": "array",
                        "required": true,
                        "description": "Upload  images",
                        "collectionFormat": "multi",
                        "items": { "type": "file" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/reason": {
            "get": {
                "tags": [
                    "Reason"
                ],

                "description": "Get all the Reason List.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Reason fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/Reason"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/reason/": {
            "post": {
                "tags": [
                    "Reason"
                ],
                "description": "Create Reason",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Reason details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/Reason"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/reason/{id}": {
            "patch": {
                "tags": [
                    "Reason"
                ],
                "description": "Update Particular Reason Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Reason Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Reason"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/reason/{id}/": {
            "delete": {
                "tags": [
                    "Reason"
                ],
                "description": "Remove Particular Reason Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/cuisine-user": {
            "get": {
                "tags": [
                    "CuisinesUser"
                ],

                "description": "Get all the Cuisine User List.",
                "parameters": [{
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cuisine USer fetched successfully.",
                        "schema": {
                            "$ref": "#/definitions/CusineUser"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cuisine-user/": {
            "post": {
                "tags": [
                    "CuisinesUser"
                ],
                "description": "Create Cuisines",
                "parameters": [{
                    "name": "obj",
                    "in": "body",
                    "description": "Create Cuisine User details into System.",
                    "required": true,
                    "type": "object",
                    "schema": {
                        "$ref": "#/definitions/CusineUser"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Created"
                    }
                }
            }
        },
        "/cuisine-user/{id}": {
            "patch": {
                "tags": [
                    "CuisinesUser"
                ],
                "description": "Update Particular Cuisines User Details",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Update Particular Cuisines User Details.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/CusineUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        },
        "/cuisine-user/{id}/": {
            "delete": {
                "tags": [
                    "CuisinesUser"
                ],
                "description": "Remove Particular Cuisines User Details",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true
                }],
                "responses": {
                    "200": {
                        "description": "Removed"
                    }
                }
            }
        },
        "/cuisine-user/images/{id}": {
            "patch": {
                "tags": [
                    "CuisinesUser"
                ],
                "description": "Update  images",

                "consumes": ["multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "files",
                        "type": "array",
                        "required": true,
                        "description": "Upload  images",
                        "collectionFormat": "multi",
                        "items": { "type": "file" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            }
        }
    },
    "definitions": {

        "Currency": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": ""
                },
                "code": {
                    "type": "string",
                    "example": ""
                },
                "status": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "name",
                "code",
                "status"
            ],
            "xml": {
                "name": "Currency"
            }
        },
        "AddUser": {
            "type": "object",
            "properties": {
                "aadhar_number": {
                    "type": "string",
                    "example": "1234568974125"
                },
                "contact_number": {
                    "type": "number",
                    "example": "9962286636"
                },
                "otp": {
                    "type": "number",
                    "example": "546236"
                }

            },
            "required": [
                "aadhar_number",
                "contact_number",
                "otp"
            ],
            "xml": {
                "name": "AddUser"
            }
        },

        "ImagesProfile": {
            "type": "object",
            "content": "multipart/form-data",
            "properties": {
                "file": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "binary"
                    }
                }
            },
            "required": [
                "culture_follow",
                "cast",
                "sub_cast",
                "intrest"
            ],
            "xml": {
                "name": "ImagesProfile"
            }
        },
        "NoticeBoard": {
            "type": "object",
            "properties": {
                "delivery_user": {
                    "properties": {
                        "id": {
                            "type": "string",
                            "example": ""
                        },
                        "name": {
                            "type": "string",
                            "example": ""
                        },
                        "deviceId": {
                            "type": "string",
                            "example": ""
                        },
                        "deviceOS": {
                            "type": "string",
                            "example": "",
                            "enum": ["IOS", "ANDROID"]
                        }
                    }
                },
                "title": {
                    "type": "string",
                    "example": ""
                },
                "notice": {
                    "type": "string",
                    "example": ""
                },
                "extraNote": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "delivery_user",
                "title",
                "notice",
                "extraNote"
            ],
            "xml": {
                "name": "NoticeBoard"
            }
        },
        "NoticeBoardPushNotification": {
            "type": "object",
            "properties": {
                "sent_to_type": {
                    "type": "number",
                    "example": "1"
                },
                "message": {
                    "type": "string",
                    "example": ""
                },
                "push_type": {
                    "type": "string",
                    "example": "",
                    "enum": ["NOW", "SCHEDULE"]
                },
                "schedule": {
                    "properties": {
                        "senddate": {
                            "type": "date",
                            "example": ""
                        },
                        "sendtime": {
                            "type": "string",
                            "example": ""
                        }
                    }
                }
            },
            "required": [
                "sent_to_type",
                "message",
                "push_type"
            ],
            "xml": {
                "name": "NoticeBoardPushNotification"
            }
        },
        "Promocodes": {
            "type": "object",
            "properties": {
                "promocode": {
                    "type": "string",
                    "example": ""
                },
                "discount": {
                    "type": "number",
                    "example": ""
                },
                "usagelimit_percoupon": {
                    "type": "number",
                    "example": ""
                },
                "usagelimit_peruser": {
                    "type": "number",
                    "example": ""
                },
                "type": {
                    "type": "string",
                    "example": "",
                    "enum": ["AMOUNT", "PERCENT"]
                },
                "promocodetype": {
                    "type": "string",
                    "example": "",
                    "enum": ["ADDED", "EXPIRED"]
                },
                "avaiable_from": {
                    "type": "date",
                    "example": ""
                },
                "expired_date": {
                    "type": "data",
                    "example": ""
                }

            },
            "required": [
                "promocode",
                "discount",
                "usagelimit_percoupon",
                "usagelimit_peruser",
                "type",
                "promocodetype",
                "avaiable_from",
                "expired_date"
            ],
            "xml": {
                "name": "Promocodes"
            }
        },
        "DeliveryPeople": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": ""
                },
                "email": {
                    "type": "string",
                    "example": ""
                },
                "address": {
                    "type": "string",
                    "example": ""
                },
                "latitude": {
                    "type": "number",
                    "example": ""
                },
                "longtitude": {
                    "type": "number",
                    "example": ""
                },
                "countrycode": {
                    "type": "string",
                    "example": ""
                },
                "phone": {
                    "type": "number",
                    "example": ""
                }

            },
            "required": [
                "name",
                "email",
                "address",
                "countrycode",
                "phone"
            ],
            "xml": {
                "name": "DeliveryPeople"
            }
        },
        "DisputeManager": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": ""
                },
                "email": {
                    "type": "string",
                    "example": ""
                },
                "password": {
                    "type": "string",
                    "example": ""
                },
                "confirmPassword": {
                    "type": "string",
                    "example": ""
                },
                "contactNumber": {
                    "type": "string",
                    "example": ""
                },
                "image": {
                    "type": "string",
                    "example": ""
                }

            },
            "required": [
                "name",
                "email",
                "password",
                "confirmPassword",
                "contactNumber"
            ],
            "xml": {
                "name": "DisputeManager"
            }
        },
        "Cuisines": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "name"
            ],
            "xml": {
                "name": "Cuisines"
            }
        },
        "Reason": {
            "type": "object",
            "properties": {
                "reason": {
                    "type": "string",
                    "example": ""
                }
            },
            "required": [
                "reason"
            ],
            "xml": {
                "name": "Reason"
            }
        },
        "CusineUser": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": ""
                },
                "email": {
                    "type": "string",
                    "example": ""
                },
                "password": {
                    "type": "string",
                    "example": ""
                },
                "confirmPassword": {
                    "type": "string",
                    "example": ""
                },
                "countrycode": {
                    "type": "string",
                    "example": ""
                },
                "phone": {
                    "type": "number",
                    "example": ""
                },
                "cuisine": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string",
                                "example": ""
                            },
                            "id": {
                                "type": "string",
                                "example": ""
                            }
                        }
                    }
                }

            },
            "required": [
                "name",
                "email",
                "password",
                "countrycode",
                "phone"
            ],
            "xml": {
                "name": "CusineUser"
            }
        },
        "SiteSetings": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string",
                    "example": "ANYTIME EAT"
                },
                "logo": {
                    "type": "string",
                    "example": ""
                },
                "favicon": {
                    "type": "string",
                    "example": ""
                },
                "copyright": {
                    "type": "string",
                    "example": "© 2021 ANYTIME EAT POWERED BY LTW TECHNOLOGIES"
                },
                "currency": {
                    "type": "string",
                    "example": "Euro (EURO)"
                },
                "currencycode": {
                    "type": "string",
                    "example": "EURO"
                },
                "twilotoken": {
                    "type": "string",
                    "example": "3e1f4096747e228947c65b8421da5906"
                },
                "twilionumber": {
                    "type": "string",
                    "example": "+19197595476"
                },
                "pub_pub_key": {
                    "type": "string",
                    "example": "pub-c-5157651d-b10a-429c-ad9a-9f6d89c96949"
                },
                "pub_sub_key": {
                    "type": "string",
                    "example": "xzasub-c-ba9ae848-ae6a-11eb-9bc5-9690213e5a9f"
                },
                "client_id": {
                    "type": "string",
                    "example": "2"
                },
                "client_secret": {
                    "type": "string",
                    "example": "uO6LFJ7WbzWRIB9vbTzIoqDajGnHwi20a5lyLiYh"
                },
                "default_language": {
                    "type": "string",
                    "example": "en"
                },
                "customer_username": {
                    "type": "string",
                    "example": "Maharajan"
                },
                "terms_user": {
                    "type": "string",
                    "example": "zx"
                },
                "terms_restaurants": {
                    "type": "string",
                    "example": "zx"
                },
                "default_location": {
                    "type": "string",
                    "example": "Milano, Metropolitan City of Milan, Italy"
                },
                "amount_referral": {
                    "type": "number",
                    "example": "0"
                }
            },
            "required": [
                "title",
                "copyright",
                "currency",
                "currencycode",
                "twilotoken",
                "twilionumber",
                "pub_pub_key",
                "pub_sub_key",
                "client_id",
                "client_secret",
                "default_language",
                "customer_username",
                "terms_user",
                "terms_restaurants",
                "default_location",
                "amount_referral"
            ],
            "xml": {
                "name": "SiteSetings"
            }
        },
        "PaymentSetings": {
            "type": "object",
            "properties": {
                "default_payment": {
                    "type": "string",
                    "example": "STRIPE"
                },
                "stripe_charge": {
                    "type": "number",
                    "example": "2"
                },
                "stripe_publish_key": {
                    "type": "string",
                    "example": "pk_test_51ILq3iKbPjksmMoYCWqRKpIaajQvATYFBaiTignWCvPlpSTY1g8f1LIZTzIJP0Ft3q6azQWoFJlYYoHzAofH0im900xQlVzC79"
                },
                "stripe_secret": {
                    "type": "string",
                    "example": "sk_test_51ILq3iKbPjksmMoYlKNB3EUDHuJbieJmlQ3PBTNDyb8lcHkR1lGoeQYNqQ644aOzzk7Qb3HkZLTYSpqac6EJM6wP00CBqR4gww"
                },
                "stripe_url": {
                    "type": "string",
                    "example": "https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_JMY1tMoL0t3xbfH3iF4VqazltTsXqLRx&scope=read_write&redirect_uri="
                }
            },
            "required": [
                "default_payment",
                "stripe_charge",
                "stripe_publish_key",
                "stripe_secret",
                "stripe_url"
            ],
            "xml": {
                "name": "PaymentSetings"
            }
        },
        "ProductOrderSettings": {
            "type": "object",
            "properties": {
                "deliverycost": {
                    "type": "number",
                    "example": "2"
                },
                "dispute_responsetime": {
                    "type": "number",
                    "example": "600"
                },
                "search_distance": {
                    "type": "number",
                    "example": "600"
                },

                "deliveryman_responsetime": {
                    "type": "number",
                    "example": "120"
                },
                "dish_commission": {
                    "type": "number",
                    "example": "0"
                },
                "delivery_fee": {
                    "type": "number",
                    "example": "0"
                },
                "orderlimit_min": {
                    "type": "number",
                    "example": "1"
                },
                "orderlimit_max": {
                    "type": "number",
                    "example": "1"
                },
                "order_assinged": {
                    "type": "string",
                    "enum": ["MANUAL, AUTOMATIC"],
                    "example": "AUTOMATIC"
                }
            },
            "required": [
                "deliverycost",
                "dispute_responsetime",
                "search_distance",
                "deliveryman_responsetime",
                "dish_commission",
                "delivery_fee",
                "orderlimit_min",
                "orderlimit_max",
                "order_assinged"
            ],
            "xml": {
                "name": "ProductOrderSettings"
            }
        },
        "AppSetings": {
            "type": "object",
            "properties": {
                "android_env": {
                    "type": "string",
                    "example": "development"
                },
                "android_pushkey": {
                    "type": "string",
                    "example": "AAAAdwMXy8k:APA91bHMZD27fM5DmZv73OyGIio7tRV8Ttqgycte4aEXZDIZ5R20afb9pHsidDjqY6XiDjnJUNA-wjmkqsp5dFguU7Q3XOrTYSU4xbRsnHhXVspeH3FEgDVKDpXcKdGeEoLWpC6kvheQ"
                },
                "ios_user_env": {
                    "type": "string",
                    "example": "production"
                },
                "ios_provider_env": {
                    "type": "string",
                    "example": "production"
                },
                "android_applink": {
                    "type": "string",
                    "example": "https://play.google.com/store/apps/details?id=com.foodie.app&hl=en"
                },
                "ios_applink": {
                    "type": "string",
                    "example": "https://itunes.apple.com/us/app/foodie-express-food-delivery/id1296870125?mt=8"
                },
                "iosprovider_pushpassword": {
                    "type": "string",
                    "example": "apple"
                },
                "iosshop_env": {
                    "type": "string",
                    "example": "production"
                },
                "iosshop_pushpassword": {
                    "type": "string",
                    "example": "apple"
                },
                "iosuser_pushpassword": {
                    "type": "string",
                    "example": "apple"
                },
                "iosuser_topic": {
                    "type": "string",
                    "example": "com.anytimeeat.user"
                },
                "iosuser_apppassword": {
                    "type": "string",
                    "example": "apple"
                },
                "iosprovider_apptopic": {
                    "type": "string",
                    "example": "com.anytimeeat.delivery"
                },
                "iosprovider_apppassword": {
                    "type": "string",
                    "example": "apple"
                },
                "iosshop_apptopic": {
                    "type": "string",
                    "example": "com.anytimeeat.resturants"
                },
                "iosshop_apppassword": {
                    "type": "string",
                    "example": "apple"
                }
            },
            "required": [
                "android_env",
                "android_pushkey",
                "ios_user_env",
                "ios_provider_env",
                "android_applink",
                "ios_applink",
                "iosprovider_pushpassword",
                "iosshop_env",
                "iosshop_pushpassword",
                "iosuser_pushpassword",
                "iosuser_topic",
                "iosuser_apppassword",
                "iosprovider_apptopic",
                "iosprovider_apppassword",
                "iosshop_apptopic",
                "iosshop_apppassword"
            ],
            "xml": {
                "name": "AppSetings"
            }
        },
        "SocialSettings": {
            "type": "object",
            "properties": {
                "googlemap_key": {
                    "type": "string",
                    "example": "AIzaSyAUItNHhqJyvOlXfTdXmyHVuvzXXpRGy6g"
                },
                "twilio_sid": {
                    "type": "string",
                    "example": "ACdd74ef3e9dc55a8b518f385fb505cab3"
                },
                "twilio_token": {
                    "type": "string",
                    "example": "3e1f4096747e228947c65b8421da5906"
                },
                "twilio_number": {
                    "type": "string",
                    "example": "+19197595476"
                },
                "fb_client_id": {
                    "type": "string",
                    "example": "1690960034436982"
                },
                "fb_client_secret": {
                    "type": "string",
                    "example": "d65993eea2b4f66908a1b75d4cbe60c1"
                },
                "fb_redirect": {
                    "type": "string",
                    "example": "https://anytimeeat.it/auth/facebook/callback"
                },
                "google_client_id": {
                    "type": "string",
                    "example": "511152999369-4oemai4dben5aqjgvulpli24fqr835sp.apps.googleusercontent.com"
                },
                "google_client_secret": {
                    "type": "string",
                    "example": "oro2YwsQ3ZuGaRCo5ng6esbv"
                },
                "google_redirect": {
                    "type": "string",
                    "example": "xzasub-c-ba9ae848-ae6a-11eb-9bc5-9690213e5a9f"
                },
                "link": {
                "properties": {                
                    "facebook": {
                        "type": "string",
                        "example": "http://facebook.com"
                    },
                    "twitter": {
                        "type": "string",
                        "example": "http://twitter.com"
                    },
                    "instagram": {
                        "type": "string",
                        "example": "http://instagram.com"
                    },
                    "pinterest": {
                        "type": "string",
                        "example": "http://pinterest.com"
                    },
                    "vimeo": {
                        "type": "string",
                        "example": "http://vimeo.com"
                    },
                    "youtube": {
                        "type": "string",
                        "example": "http://youtube.com"
                    }
                }
            },
                "is_sociallogin": {
                    "type": "boolean",
                    "example": false
                }
                
            },
            "required": [
                "googlemap_key",
                "twilio_sid",
                "twilio_token",
                "twilio_number",
                "fb_client_id",
                "fb_client_secret",
                "fb_redirect",
                "google_client_id",
                "google_client_secret",
                "google_redirect",
                "link",
                "is_sociallogin"
            ],
            "xml": {
                "name": "SocialSettings"
            }
        },
        "Settings": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": ""
                },
                "settings": {
                    "properties": {
                        "site": {
                            "xml": {
                                "name": "site"
                            },
                            "$ref": "#/definitions/SiteSetings"
                        },
                        "payment": {
                            "xml": {
                                "name": "payment"
                            },
                            "$ref": "#/definitions/PaymentSetings"
                        },
                        "productorder": {
                            "xml": {
                                "name": "productorder"
                            },
                            "$ref": "#/definitions/ProductOrderSettings"
                        },
                        "app": {
                            "xml": {
                                "name": "app"
                            },
                            "$ref": "#/definitions/AppSetings"
                        },
                        "social": {
                            "xml": {
                                "name": "social"
                            },
                            "$ref": "#/definitions/SocialSettings"
                        }
                    }
                }
            },
            "required": [
                "id",
                "settings"
            ],
            "xml": {
                "name": "UserSettings"
            }
        },
        "AddSettings": {
            "type": "object",
            "properties": {
                "site": {
                    "xml": {
                        "name": "site"
                    },
                    "$ref": "#/definitions/SiteSetings"
                },
                "payment": {
                    "xml": {
                        "name": "payment"
                    },
                    "$ref": "#/definitions/PaymentSetings"
                },
                "productorder": {
                    "xml": {
                        "name": "productorder"
                    },
                    "$ref": "#/definitions/ProductOrderSettings"
                },
                "app": {
                    "xml": {
                        "name": "app"
                    },
                    "$ref": "#/definitions/AppSetings"
                },
                "social": {
                    "xml": {
                        "name": "social"
                    },
                    "$ref": "#/definitions/SocialSettings"
                }

            },
            "required": [
                "id",
                "settings"
            ],
            "xml": {
                "name": "UserSettings"
            }
        }

    }
}